table.car {
       width: 75%;
       align: center;
       margin: auto;
       margin-bottom: 10px;
       margin-top: 10px;
       background-color: #237696;
       border-radius: 25px;
       padding: 10px 20px 10px 20px;
      }

      img.car {
       box-sizing:border-box;
       width: 80%;
       height: 80%;
       align: center;
       margin: auto;
       border: 5px solid #fff288;
       border-radius: 10px;
       padding: 0px 0px 0px 0px;
      }

      .car-header {
      color: #fff;
      text-align: center;
      margin: -5px 0px 4px 0px;
      font-weight: bold;
      font-size:1.3em;
      }

      .car-extra {
      font-size:1.05em;
      text-align: center;
      color:#ebebeb;
      margin: -4px 0px 4px 0px;

      }

      .car-info {
      font-size:1.25em;
      color:#fff;
      text-align: center;
      font-weight: bold;
      margin: 4px 0px -2px 0px;
      }

      .table {
      margin: auto;
      text-align: center;
      width: 70%;
      
      }

